# {{ ansible_managed }}
# Cấu hình vsftpd {{ vsftpd_version }} cho bài lab
listen=YES
anonymous_enable={{ vsftpd_anonymous_enable }}
local_enable={{ vsftpd_local_enable }}
write_enable={{ vsftpd_write_enable }}
dirmessage_enable=YES
xferlog_enable=YES
connect_from_port_20=YES
secure_chroot_dir={{ vsftpd_secure_chroot_dir }}
pam_service_name=vsftpd
